body{
    font-family: $main-font;
    /*Url nos pide que la imagen que queremos poner, y colocamos la ruta de esa imagen dentro del parentesis*/
    background-image: url(azul.jpg);
    background-size: cover;

    body{
        position: relative;
        border: 1px solid $color-red;
        height: 255vh;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    border: 1px solid $color-red;
    height: 255vh;
}